<?xml version="1.0" encoding="utf-8"?>
<!-- Launch file -->

<launch>
    <!-- Defining the node and executable and publishing the output on terminal-->
    <node name="turtlebot_follower_node" pkg="turtlebot_follower" type="turtlebot_follower_node" output="screen">
        <!-- loading the parameters from yaml file during th runtime -->
        <rosparam command="load" file="$(find turtlebot_follower)/config/turtlebot_follower.yaml"/>
    </node>
</launch>